In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [54]:
from ml_models import MLModels

a = MLModels()
print(a.load_str())

Важная строка

About this file: \
Age: возраст клиента в завершенных годах \
Experience: многолетний профессиональный опыт \
Income: Годовой доход клиента \
Family: размер семьи клиента \
Education: Уровень образования (бакалавриат= 1 , магистратура= 2 , повышение квалификации=3) \
Mortgage: Есть ли у клиента ипотека? \
Personal Loan: Принял ли этот клиент личный заем, предложенный в рамках последней кампании? \
CreditCard: Пользуется ли клиент кредитной картой, выпущенной Bank? \
loan delinquency: Есть ли просрочка по кредиту? \
non-valid passport: Недействительный паспорт?

In [11]:
client_data = pd.read_csv("data/client_data.csv", header=0) #D:/theory_of_systems/Smart-Segmenter/
client_data.columns = ['id','age','experience','income','family',
                       'education','mortgage','personal_loan',
                       'creditcard','loan_delinquency','non_valid_passport']

In [12]:
df = client_data.drop('id', axis=1)
df

,age,experience,income,family,education,mortgage,personal_loan,creditcard,loan_delinquency,non_valid_passport
0,22,1,348,3,1,0,0,0,0,0
1,34,19,191,3,3,0,0,0,0,0
2,54,15,313,5,2,0,0,1,0,0
3,58,9,193,4,2,0,0,0,0,0
4,39,8,42,3,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
4091,44,6,35,3,3,0,0,0,0,0
4092,28,15,331,1,2,0,0,0,0,0
4093,53,24,172,4,3,0,1,0,0,0
4094,39,23,22,2,1,0,0,1,0,0
4095,25,17,265,1,1,0,0,0,0,0

In [13]:
df = pd.get_dummies(df, dtype = int, columns=['education'])
#undergraduate= 1 , graduate=2 , advance=3
df

,age,experience,income,family,mortgage,personal_loan,creditcard,loan_delinquency,non_valid_passport,education_1,education_2,education_3
0,22,1,348,3,0,0,0,0,0,1,0,0
1,34,19,191,3,0,0,0,0,0,0,0,1
2,54,15,313,5,0,0,1,0,0,0,1,0
3,58,9,193,4,0,0,0,0,0,0,1,0
4,39,8,42,3,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4091,44,6,35,3,0,0,0,0,0,0,0,1
4092,28,15,331,1,0,0,0,0,0,0,1,0
4093,53,24,172,4,0,1,0,0,0,0,0,1
4094,39,23,22,2,0,0,1,0,0,1,0,0
4095,25,17,265,1,0,0,0,0,0,1,0,0

In [14]:
df.rename(columns={'education_1': 'undergraduate_edu', 'education_2': 'graduate_edu', 'education_3': 'advance_edu'}, inplace=True)
df

,age,experience,income,family,mortgage,personal_loan,creditcard,loan_delinquency,non_valid_passport,undergraduate_edu,graduate_edu,advance_edu
0,22,1,348,3,0,0,0,0,0,1,0,0
1,34,19,191,3,0,0,0,0,0,0,0,1
2,54,15,313,5,0,0,1,0,0,0,1,0
3,58,9,193,4,0,0,0,0,0,0,1,0
4,39,8,42,3,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4091,44,6,35,3,0,0,0,0,0,0,0,1
4092,28,15,331,1,0,0,0,0,0,0,1,0
4093,53,24,172,4,0,1,0,0,0,0,0,1
4094,39,23,22,2,0,0,1,0,0,1,0,0
4095,25,17,265,1,0,0,0,0,0,1,0,0

In [15]:
df.to_csv('data/client_data_apdated.csv', index=False)

In [42]:
rte = pd.read_csv('data/client_data_apdated.csv')
rte

,age,experience,income,family,mortgage,personal_loan,creditcard,loan_delinquency,non_valid_passport,undergraduate_edu,graduate_edu,advance_edu
0,22,1,348,3,0,0,0,0,0,1,0,0
1,34,19,191,3,0,0,0,0,0,0,0,1
2,54,15,313,5,0,0,1,0,0,0,1,0
3,58,9,193,4,0,0,0,0,0,0,1,0
4,39,8,42,3,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4091,44,6,35,3,0,0,0,0,0,0,0,1
4092,28,15,331,1,0,0,0,0,0,0,1,0
4093,53,24,172,4,0,1,0,0,0,0,0,1
4094,39,23,22,2,0,0,1,0,0,1,0,0
4095,25,17,265,1,0,0,0,0,0,1,0,0

In [43]:
# Преобразовать DataFrame в JSON  
json_result = rte['non_valid_passport'].to_csv('data/client_data_clast.csv', index=False)

In [48]:
df = pd.read_csv('data/client_data_clast.csv', header=0)
df.columns = ['9000000']

# Если индексы строк совпадают
result = pd.concat([rte, df], axis=1)
result

,age,experience,income,family,mortgage,personal_loan,creditcard,loan_delinquency,non_valid_passport,undergraduate_edu,graduate_edu,advance_edu,9000000
0,22,1,348,3,0,0,0,0,0,1,0,0,0
1,34,19,191,3,0,0,0,0,0,0,0,1,0
2,54,15,313,5,0,0,1,0,0,0,1,0,0
3,58,9,193,4,0,0,0,0,0,0,1,0,0
4,39,8,42,3,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,44,6,35,3,0,0,0,0,0,0,0,1,0
4092,28,15,331,1,0,0,0,0,0,0,1,0,0
4093,53,24,172,4,0,1,0,0,0,0,0,1,0
4094,39,23,22,2,0,0,1,0,0,1,0,0,0
4095,25,17,265,1,0,0,0,0,0,1,0,0,0

In [ ]:
df_1 = pd.read_csv('data/client_data_apdated.csv')
df_2 = pd.read_csv('data/client_data_clusters.csv')

# Если индексы строк совпадают
result = pd.concat([df_1[0:600], df_2], axis=1)

In [20]:
result

,age,experience,income,family,mortgage,personal_loan,creditcard,loan_delinquency,non_valid_passport,undergraduate_edu,graduate_edu,advance_edu,cluster_KMeans
0,22,1,348,3,0,0,0,0,0,1,0,0,4.0
1,34,19,191,3,0,0,0,0,0,0,0,1,4.0
2,54,15,313,5,0,0,1,0,0,0,1,0,0.0
3,58,9,193,4,0,0,0,0,0,0,1,0,1.0
4,39,8,42,3,0,0,0,0,0,0,0,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,61,17,29,3,2890,0,0,0,0,1,0,0,NaN
896,42,24,157,4,2120,1,1,0,0,0,0,1,NaN
897,41,37,50,5,1370,0,0,0,0,0,0,1,NaN
898,44,32,228,4,0,0,0,0,0,0,0,1,NaN
899,19,3,128,1,0,1,0,0,0,0,0,1,NaN

In [ ]:
# Создание профилей кластеров
cluster_summary = result.groupby('cluster_KMeans').agg({
    'age': 'mean',
    'income': 'mean',
    'personal_loan': 'mean',
    'creditcard': 'mean',
    'loan_delinquency': 'mean',
    'family': 'mean'
}).round(2)

# Добавление размера кластера
cluster_summary['Size'] = result['cluster_KMeans'].value_counts().sort_index()
cluster_summary['Percentage'] = (cluster_summary['Size'] / len(result) * 100).round(2)

print("\nДетальный профиль кластеров:")
print(cluster_summary)

# Описание кластеров (пример)
cluster_descriptions = {
    0: "Молодые клиенты с низким доходом, редко используют кредитные продукты",
    1: "Клиенты предпенсионного возраста со стабильным доходом",
    2: "Состоятельные клиенты среднего возраста, активно пользующиеся кредитами",
    3: "Высокорисковые клиенты с просрочками"
}

d = {}
for cluster_num, description in cluster_descriptions.items():
    if cluster_num in result['cluster_KMeans'].values:
        size = len(result[result['cluster_KMeans'] == cluster_num])
        d[cluster_num] = ['Описание', size, ]
        print(f"\nКластер {cluster_num} ({size} клиентов, {size/len(result)*100:.1f}%):")
        print(f"Описание: {description}")

Детальный профиль кластеров:
                  age  income  personal_loan  creditcard  loan_delinquency  \
cluster_KMeans
0               43.15  175.37           0.10         1.0              0.02
1               51.13  215.34           0.09         0.0              0.01
2               31.74   87.46           0.07         0.0              0.05
3               55.34  137.65           0.13         0.0              0.04
4               33.04  263.69           0.08         0.0              0.02

                family  Size  Percentage
cluster_KMeans
0                 2.75    59        9.83
1                 4.58   119       19.83
2                 3.44   138       23.00
3                 1.85   129       21.50
4                 2.19   155       25.83

Кластер 0 (59 клиентов, 9.8%):
Описание: Молодые клиенты с низким доходом, редко используют кредитные продукты

Кластер 1 (119 клиентов, 19.8%):
Описание: Клиенты предпенсионного возраста со стабильным доходом

Кластер 2 (138 клиентов, 23.0%):
Описание: Состоятельные клиенты среднего возраста, активно пользующиеся кредитами

Кластер 3 (129 клиентов, 21.5%):
Описание: Высокорисковые клиенты с просрочками

In [37]:
data_clusters = pd.read_csv('data/client_data_clusters.csv')
data = pd.read_csv('data/client_data_apdated.csv')
result = pd.concat([data[0:600], data_clusters], axis=1)

# Описание кластеров (пример)
cluster_descriptions = {
    0: "Молодые клиенты с низким доходом, редко используют кредитные продукты",
    1: "Клиенты предпенсионного возраста со стабильным доходом",
    2: "Состоятельные клиенты среднего возраста, активно пользующиеся кредитами",
    3: "Высокорисковые клиенты с просрочками"
}

d = {}
for cluster_num, description in cluster_descriptions.items():
    if cluster_num in result['cluster_KMeans'].values:
        size = len(result[result['cluster_KMeans'] == cluster_num])
        d[cluster_num] = ['Описание', size, round(size/len(result)*100, 4)]

In [38]:
d

{0: ['Описание', 141, 23.5],
 1: ['Описание', 150, 25.0],
 2: ['Описание', 59, 9.8333],
 3: ['Описание', 124, 20.6667]}

In [39]:
all_features = [' assc', 'adsdytyj', 'sad']

variables_dict_mean = {key: 'mean' for key in all_features}
variables_dict_mean

{' assc': 'mean', 'adsdytyj': 'mean', 'sad': 'mean'}